%div#menu
  %div.content{style: 'padding-left: 155px;'}
    %div#logo
      %a(href='http://podarivreme.org/')
        %img(src='http://podarivreme.org/images/interface/logo.png')
    %ul.no-list
      %li
        %a(href="http://podarivreme.org/calendar#data_content")КАЛЕНДАР
      %li
        %a(href="http://podarivreme.org/naruchnik")НАРЪЧНИК
      %li
        %a(href="http://podarivreme.org/ieee-istorii")ЙЕЕЕ ИСТОРИИ
      %li
        %a(href="http://podarivreme.org/tursi-se")ТЪРСИ СЕ
      %li
        %a(href="http://podarivreme.org/chat")ЧАТ
        %img(src="http://podarivreme.org/images/interface/chat_icon.png")
%div{style: 'height: 95px; width: 100%;'}
